Repository ethereumclassic/ethereumclassic.github.io, pull requests merged in 2020-07, with the labels that each got.

#506 News Update
  content/news/media/media.collection.en.yaml
Labels: content

#507 Update Mining Pools
  content/development/mining-resources/pools.en.yaml
Labels: content

#512 Adding SwapSwop to Exchanges list
  content/ecosystem/exchanges/index.en.yaml
Labels: content

#514 Update de.yaml
  content/_i18n/de.yaml
Labels: content

#508 Added in Alpha Wallet / Replace Trust Wallet in Porting Page
  content/development/porting/index.en.yaml
Labels: content

#515 Update nl.yaml
  content/_i18n/nl.yaml
Labels: i18n

#519 Update clients.en.yaml
  content/development/clients/clients.en.yaml
Labels: content

#520 Update timeline.en.yaml
  content/development/clients/clients.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
Labels: content

#521 News Update
  content/news/media/media.collection.en.yaml
Labels: content

#522 Update index.en.yaml
  content/development/mining-resources/index.en.yaml
Labels: content

#523 Add news - OpenETC announcement
  content/news/media/media.collection.en.yaml
Labels: content

#524 Update timeline.en.yaml
  content/knowledge/roadmap/roadmap.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
Labels: content

#526 Updated the information to the Multi-Geth
  content/development/clients/clients.en.yaml
  content/ecosystem/social-channels/index.en.yaml
Labels: content

#527 A11y
  content/news/media/media.collection.en.yaml
  gatsby-node.js
  package.json
  src/assets/sass/phoenix/main-menu.scss
  src/assets/sass/phoenix/news.scss
  src/components/MainMenu.js
  src/components/Menu.js
  src/components/NewsTags.js
Labels: code

#529 Open etc
  content/development/clients/clients.en.yaml
  content/ecosystem/social-channels/index.en.yaml
Labels: content, scrutiny required

#531 Add a warning to the OpenETC client
  content/development/clients/clients.en.yaml
  src/assets/sass/paradigm-shift/libs/_vars.scss
  src/assets/sass/phoenix/utils.scss
  src/components/InfoGroup.js
Labels: enhancement

#533 ETC Icons, Search, Timeline Button
  content/knowledge/roadmap/roadmap.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
  content/ui.global.en.yaml
  gatsby-config.js
  package.json
  search.js
  src/assets/css/fontawesome-all.css
  src/assets/sass/phoenix/main-menu.scss
  src/assets/sass/phoenix/timeline.scss
  src/assets/sass/phoenix/utils.scss
  src/assets/sass/phoenix/warning.scss
  src/components/Footer.js
  src/components/MainMenu.js
  src/components/Search.js
  src/components/Timeline.js
Labels: code

#535 Inactive
  content/ecosystem/social-channels/index.en.yaml
  content/ecosystem/teams/index.en.yaml
Labels: content

#536 Update media.collection.en.yaml
  content/news/media/media.collection.en.yaml
Labels: content
