Repository ethereumclassic/ethereumclassic.github.io, pull requests merged in 2020-12, with the labels that each got.

#612 News Update
  content/news/media/media.collection.en.yaml
Labels: content

#613 Thanos
  content/development/mining-resources/software.en.yaml
  content/news/media/media.collection.en.yaml
Labels: content

#614 News/mining-resource updates
  content/development/mining-resources/software.en.yaml
  content/news/media/media.collection.en.yaml
Labels: content

#617 Refresh landing page
  content/index.en.yaml
  content/news.global.en.yaml
  src/assets/images/banner.jpg
  src/assets/sass/phoenix/landing.scss
  src/components/HomeBanner.js
  src/templates/index.js
Labels: code, enhancement

#618 Hotfix for safari mobile dark mode
  src/components/DarkMode.js
Labels: bug, code

#615 Etchash History
  content/knowledge/roadmap/roadmap.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
Labels: content

#620 mantis Client
  content/development/clients/clients.en.yaml
  content/development/network-resources/chains.en.yaml
  content/news/media/media.collection.en.yaml
Labels: content

#616 Add COC, License & Netlify footer to apply for Netlify hosting
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  package.json
  src/assets/images/netlify-color-accent.svg
  src/components/Footer.js
Labels: code, content, enhancement

#621 News Update
  content/news/media/media.collection.en.yaml
Labels: content

#622 News/Mining pool Updates
  content/development/mining-resources/pools.en.yaml
  content/news/media/media.collection.en.yaml
Labels: content

#623 Update index.en.yaml
  content/development/guides/index.en.yaml
Labels: content

#625 Guide Update
  content/development/guides/index.en.yaml
Labels: content
