Repository ethereumclassic/ethereumclassic.github.io, pull requests merged in 2020-04, with the labels that each got.

#415 Update media.en.yaml
  README.md
  content/news/media.en.yaml
Labels: content

#420 Merge develop; update readme, add media links and gitpod config
  .gitpod.yml
  README.md
  content/news/media.en.yaml
  content/news/news.en.yaml
  package-lock.json
  package.json
  scripts/create-blog.js
  src/assets/css/fontawesome-all.css
  src/assets/css/fontawesome-all.min.css
  src/assets/sass/main.scss
  src/components/translate.js
  src/utils.js
Labels: content

#421 Updated all the video links for ETC Summit 2019, so that they are all pointing directly at the individual talks.
  content/press/conferences/items.en.yaml
Labels: content

#427 Update media.en.yaml
  content/news/media.en.yaml
Labels: content

#434 development/client: confirm client versions for phoenix
  content/development/clients/items.en.yaml
Labels: content

#435 Minor content/visual tweaks, bugfixes
  .gitpod.yml
  README.md
  content/blog/2019-12-10-ecip-1056-finalization/index.en.md
  content/development/clients/clients.en.yaml
  content/development/clients/items.en.yaml
  gatsby-config.js
  package-lock.json
  package.json
  src/assets/sass/phoenix/components/video.scss
  src/layouts/blogItem.js
  src/routes/development/clients.js
  src/routes/development/mining-resources.js
Labels: code

#433 blogs backfill
  content/blog/2019-05-30-core-devs-call-atlantis-call/atlantis-banner.jpg
  content/blog/2019-05-30-core-devs-call-atlantis-call/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-05-30-core-devs-call-atlantis-call/index.en.md
  content/blog/2019-05-30-core-devs-call-atlantis-upgrade/index.en.md
  content/blog/2019-06-07-core-devs-call-atlantis-scheduling/atlantis-banner.jpg
  content/blog/2019-06-07-core-devs-call-atlantis-scheduling/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-06-07-core-devs-call-atlantis-scheduling/index.en.md
  content/blog/2019-06-13-core-devs-call-atlantis-finalize/atlantis-banner.jpg
  content/blog/2019-06-13-core-devs-call-atlantis-finalize/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-06-13-core-devs-call-atlantis-finalize/index.en.md
  content/blog/2019-06-13-core-devs-call-atlantis-upgrade/index.en.md
  content/blog/2019-06-20-core-devs-call-atlantis-final-call/atlantis-banner.jpg
  content/blog/2019-06-20-core-devs-call-atlantis-final-call/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-06-20-core-devs-call-atlantis-final-call/index.en.md
  content/blog/2019-10-03-etc-summit-2019/ETC_Summit_Logo_Black_LrgText-1.svg
  content/blog/2019-10-03-etc-summit-2019/ethereum_classic_banner_wallpaper.JPG
  content/blog/2019-10-03-etc-summit-2019/index.en.md
  content/blog/2019-10-04-mordor-testnet-launch/index.en.md
  content/blog/2019-10-04-mordor-testnet-launch/logo_etc11.jpg
  content/blog/2019-10-24-core-devs-call-agharta-finalize/agharta-banner.jpg
  content/blog/2019-10-24-core-devs-call-agharta-finalize/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-10-24-core-devs-call-agharta-finalize/index.en.md
  content/blog/2019-11-27-core-devs-call-ecip-1061-aztlan-upgrade/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-11-27-core-devs-call-ecip-1061-aztlan-upgrade/hardfork_aztlan.jpg
  content/blog/2019-11-27-core-devs-call-ecip-1061-aztlan-upgrade/index.en.md
  content/blog/2019-12-05-core-devs-call-ecip-1061-aztlan-upgrade-yingchun/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-12-05-core-devs-call-ecip-1061-aztlan-upgrade-yingchun/hardfork_aztlan.jpg
  content/blog/2019-12-05-core-devs-call-ecip-1061-aztlan-upgrade-yingchun/index.en.md
  content/blog/2019-12-12-core-devs-call-agharta-final-call/ethereum_classic_ecip_wallpaper.png
  content/blog/2019-12-12-core-devs-call-agharta-final-call/hardfork_agharta.png
  content/blog/2019-12-12-core-devs-call-agharta-final-call/index.en.md
  content/blog/2020-02-05-core-devs-call-ecip-1078-phoenix-fix/ethereum_classic_ecip_wallpaper.png
  content/blog/2020-02-05-core-devs-call-ecip-1078-phoenix-fix/index.en.md
  content/blog/2020-02-05-core-devs-call-ecip-1078-phoenix-fix/phoenix_etc.jpg
  content/blog/2020-02-26-core-devs-call-phoenix-upgrade-from-scratch/ethereum_classic_ecip_wallpaper.png
  content/blog/2020-02-26-core-devs-call-phoenix-upgrade-from-scratch/index.en.md
  content/blog/2020-02-26-core-devs-call-phoenix-upgrade-from-scratch/phoenix_etc.jpg
  content/blog/2020-06-10-phoenix-hard-fork-upgrade/index.en.md
  content/development/clients/items.en.yaml
  content/ecosystem/social-channels/items.en.yaml
  content/index/index.en.yaml
  content/knowledge/roadmap/ecips.en.yaml
  content/knowledge/roadmap/roadmap.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
  content/news/media.en.yaml
  src/assets/css/fontawesome-all.css
Labels: content

#438 Proof read - Minor
  content/ecosystem/social-channels/items.en.yaml
  content/index/index.en.yaml
Labels: content

#439 Added in a Porting Section
  .gitignore
  content/development/menu.en.yaml
  content/development/porting/porting.en.yaml
  content/development/porting/tools.en.yaml
  src/routes/development/porting.js
Labels: content

#444 Feature: Adds an Investor Resources page
  content/development/porting/porting.en.yaml
  content/development/porting/tools.en.yaml
  content/ecosystem/wallets/items.en.yaml
  content/knowledge/investor/investor.en.yaml
  content/knowledge/investor/resources.en.yaml
  content/knowledge/menu.en.yaml
  src/routes/knowledge/investor.js
  static/Grayscale_Report.pdf
Labels: content, enhancement

#447 Fixed Typos in the Investor Resources Section
  content/knowledge/investor/resources.en.yaml
  content/knowledge/menu.en.yaml
Labels: content

#443 Articles and Tutorial
  content/blog/2019-12-12-core-devs-call-agharta-final-call/index.en.md
  content/blog/2019-12-27-gas-limit-call/index.en.md
  content/blog/2020-02-05-core-devs-call-ecip-1078-phoenix-fix/index.en.md
  content/blog/2020-02-26-core-devs-call-phoenix-upgrade-from-scratch/index.en.md
  content/development/guides/tutorials.en.yaml
  content/development/network-resources/monitors.en.yaml
  content/ecosystem/exchanges/items.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
  content/news/media.en.yaml
Labels: content

#448 Update deps, refactor rendering
  content/development/developer-tools/developer-tools.en.yaml
  content/development/network-resources/network-resources.en.yaml
  content/development/porting/tools.en.yaml
  content/ecosystem/exchanges/exchanges.en.yaml
  content/ecosystem/social-channels/social-channels.en.yaml
  content/knowledge/investor/resources.en.yaml
  content/knowledge/roadmap/road.en.yaml
  content/knowledge/roadmap/roadmap.en.yaml
  content/knowledge/theory/items.en.yaml
  content/press/conferences/items.en.yaml
  gatsby-node.js
  package-lock.json
  package.json
  src/components/banner.js
  src/components/buttonGroup.js
  src/components/colorGrid.js
  src/components/itemTable.js
  src/components/linkGroup.js
  src/components/newsLayout.js
  src/components/renderMarkdown.js
  src/components/resources.js
  src/components/road.js
  src/components/social.js
  src/components/subPageLayout.js
  src/components/translate.js
  src/components/videoGroup.js
  src/i18n/html.js
  src/routes/development/clients.js
  src/routes/development/developer-tools.js
  src/routes/development/guides.js
  src/routes/development/mining-resources.js
  src/routes/development/network-resources.js
  src/routes/development/porting.js
  src/routes/ecosystem/exchanges.js
  src/routes/ecosystem/social-channels.js
  src/routes/ecosystem/wallets.js
  src/routes/index.js
  src/routes/knowledge/investor.js
  src/routes/knowledge/roadmap.js
  src/routes/press/media-kit.js
  src/routes/sitemap.js
Labels: code

#450 Update tutorials.en.yaml
  content/development/clients/items.en.yaml
  content/development/guides/tutorials.en.yaml
  content/news/media.en.yaml
Labels: content

#452 Adds paginated and filters to blog section
  content/blog/2015-07-30-ethereum-launches-frontier-release/index.en.md
  content/blog/blog.en.yaml
  content/globals.en.yaml
  content/news/globals.en.yaml
  content/news/media/media.en.yaml
  content/news/media/media.objects.en.yaml
  content/news/news.en.yaml
  gatsby-browser.js
  gatsby-node.js
  package.json
  src/assets/sass/phoenix/base/base.scss
  src/assets/sass/phoenix/base/typography.scss
  src/assets/sass/phoenix/base/utils.scss
  src/assets/sass/phoenix/components/buttons.scss
  src/assets/sass/phoenix/components/menus.scss
  src/assets/sass/phoenix/pages/blog.scss
  src/components/latestBlogPosts.js
  src/components/link.js
  src/components/newsLayout.js
  src/components/newsListItem.js
  src/components/newsPagination.js
  src/components/newsTagsFilter.js
  src/components/newsYearsFilter.js
  src/components/selectLanguage.js
  src/components/subMenu.js
  src/components/warning.js
  src/routes/blog.js
  src/routes/news.js
  src/routes/news/media.js
Labels: code

#455 Remove old media file, update refs to media file readme
  README.md
  content/news/media.en.yaml
  gatsby-node.js
Labels: content

#454 Proof read
  content/blog/2019-09-12-atlantis-hard-fork-upgrade/hardfork_atlantis1.jpg
  content/blog/2019-09-12-atlantis-hard-fork-upgrade/index.en.md
  content/development/clients/clients.en.yaml
  content/development/clients/items.en.yaml
  content/development/developer-tools/processors.en.yaml
  content/development/guides/tutorials.en.yaml
  content/development/mining-resources/mining-resources.en.yaml
  content/development/network-resources/monitors.en.yaml
  content/knowledge/roadmap/road.en.yaml
  content/knowledge/roadmap/timeline.en.yaml
Labels: content

#457 Backtag articles
  content/ecosystem/exchanges/items.en.yaml
  content/news/media/media.objects.en.yaml
Labels: content

#459 Backtag articles
  content/ecosystem/wallets/items.en.yaml
  content/news/media/media.objects.en.yaml
Labels: content

#462 Update software.en.yaml
  content/development/mining-resources/software.en.yaml
Labels: content

#463 Update explorers.en.yaml
  content/development/guides/tutorials.en.yaml
  content/development/mining-resources/pools.en.yaml
  content/development/mining-resources/software.en.yaml
  content/development/network-resources/explorers.en.yaml
  content/development/network-resources/faucets.en.yaml
  content/ecosystem/exchanges/items.en.yaml
  content/news/media/media.objects.en.yaml
Labels: content
