Repository ethereumclassic/ethereumclassic.github.io, pull requests merged in 2022-09, with the labels that each got.

#859 add fusion and nusd logos
  content/services/apps/images/fusion.png
  content/services/apps/images/nusd.png
Labels: content

#857 Add a video about mining ETC
  content/videos/videos.collection.en.yaml
Labels: Education

#855 Update community call info
  content/community/events/index.en.md
Labels: content

#853 add nusd
  content/services/apps/apps.collection.en.yaml
Labels: content

#860 add fusion
  content/services/apps/apps.collection.en.yaml
Labels: content

#863 update nusd open source contract and test suite
  content/services/apps/apps.collection.en.yaml
Labels: content

#864 Update Timeline
  content/knowledge/history/index.en.md
  content/knowledge/history/timeline.en.yaml
Labels: content

#871 Migration from ETH to ETC in stead of the other way round
  content/knowledge/future/index.en.md
Labels: content

#874 Add NEWS - Update links.collection.en.yaml
  content/news/links.collection.en.yaml
Labels: content

#876 Add SoyFinance to Apps
  content/services/apps/apps.collection.en.yaml
  content/services/apps/images/soyfinance.png
Labels: content

#887 Remove Dead Social Channels
  content/community/channels/index.en.yaml
Labels: content

#885 Adding matrixport to the Apps section on the website
  content/services/apps/apps.collection.en.yaml
  content/services/apps/images/matrixport.png
Labels: content

#884 Update Client Info
  content/development/clients/index.en.yaml
Labels: content

#814 Add to MetaMask button, fixes #811
  content/guides/metamask/index.en.md
  src/components/addNetwork.js
  src/components/footer.js
  src/utils/icons.js
Labels: enhancement

#897 add servcies from etc-network.info
  content/network/endpoints/index.en.yaml
Labels: content

#900 Add chainlist.org to endpoints section
  content/network/endpoints/index.en.yaml
Labels: content
