Repository ethereumclassic/ethereumclassic.github.io, pull requests merged in 2022-02, with the labels that each got.

#722 CDC 22 Announcement
  content/blog/2022-02-21-core-devs-call-22-ecip-1049-proposed-rejection/etc_cdc.png
  content/blog/2022-02-21-core-devs-call-22-ecip-1049-proposed-rejection/ethereum_classic_ecip_wallpaper.png
  content/blog/2022-02-21-core-devs-call-22-ecip-1049-proposed-rejection/index.en.md
Labels: content, meta, scrutiny required

#731 Fix contibution links
  README.md
  src/components/apps.js
  src/components/news.js
  src/components/videos.js
Labels: bug

#729 Update: CDC 22 Call Results
  content/blog/2022-02-23-core-devs-call-22-ecip-1049-call-results/etc_cdc.png
  content/blog/2022-02-23-core-devs-call-22-ecip-1049-call-results/etchash-vs-keccak256.png
  content/blog/2022-02-23-core-devs-call-22-ecip-1049-call-results/ethereum_classic_ecip_wallpaper.png
  content/blog/2022-02-23-core-devs-call-22-ecip-1049-call-results/index.en.md
Labels: content

#736 Add ETC CC 014 Video
  content/blog/2022-02-23-core-devs-call-22-ecip-1049-call-results/index.en.md
  content/videos/videos.collection.en.yaml
Labels: content
